<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LogonAccountingServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="LogonAccountingServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://jailbreak.bmc.uu.se:80//whoson/index.php"
        binding="basicHttpBinding" bindingConfiguration="LogonAccountingServiceSoap"
        contract="LogonAccountingServiceReference.LogonAccountingServiceSoap"
        name="LogonAccountingServiceSoap" />
      <endpoint address="http://jailbreak.bmc.uu.se:80//whoson/index.php"
        binding="customBinding" bindingConfiguration="LogonAccountingServiceSoap12"
        contract="LogonAccountingServiceReference.LogonAccountingServiceSoap"
        name="LogonAccountingServiceSoap12" />
    </client>
  </system.serviceModel>
</configuration>